<html>
 <body>

  <div class="header-ama">
  </div>

   <div class="main">

    <div class="amakuti2">
     <h1>亀泉CEL-24</h1>
     <div class="amakutigazou">
      <p>
      <img src="https://image.raku-uru.jp/01/3530/3028/20_1549359300556.jpg"
      style="width:200px;height:200px;">
      </p>
     </div>

      <div class="amakutiinfo">
       
       <ul>
        <li>リンゴやパイナップルを想像させる香り高くフルーティーな味。</li>
        <li>日本酒初心者の方、女性の方にもおすすめ。</li>
        <li>価格￥1,700程度(720ml)。</li>
       </ul>
       <a class="amazon" href="https://www.amazon.co.jp/%E4%BA%80%E6%B3%89-%E4%BA%80%E6%B3%89-%E7%B4%94%E7%B1%B3%E5%90%9F%E9%86%B8%E7%94%9F%E5%8E%9F%E9%85%92-CEL-24-720ml/dp/B004ZBBB26/ref=sr_1_5?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=1KB3AYXPCX935&dchild=1&keywords=%E6%97%A5%E6%9C%AC%E9%85%92+%E4%BA%80%E6%B3%89cel&qid=1607945055&sprefix=%E6%97%A5%E6%9C%AC%E9%85%92%E3%80%80%E4%BA%80%E6%B3%89%2Caps%2C411&sr=8-5" >
        amazonで詳細を見る
       </a>
      </div>
    </div>

    <div class="amakuti2">
     <h1>富久錦「Fu.」</h1>
     <div class="amakutigazou">
      <p>
      <%= image_tag"fu.jpg", :size=>"200x200" %>
      </p>
     </div>

      <div class="amakutiinfo">
       <ul>
        <li>白ワインようなフルーティーな香り。甘みと酸味のバランスが癖になる。</li>
        <li>アルコール度数8％と低め。</li>
        <li>価格￥1,500程度(500ml)。</li>
       </ul>
       <a class="amazon" href="https://www.amazon.co.jp/%E5%AF%8C%E4%B9%85%E9%8C%A6-%E7%B4%94%E7%B1%B3-F%EF%BD%95-500ml/dp/B006JMXLUY/ref=sr_1_2?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=1CKO1I6JMYJGL&dchild=1&keywords=%E6%97%A5%E6%9C%AC%E9%85%92+%E5%AF%8C%E4%B9%85%E9%8C%A6&qid=1608014768&sprefix=%E6%97%A5%E6%9C%AC%E9%85%92%E3%80%80%E5%AF%8C%E4%B9%85%2Caps%2C300&sr=8-2" >
        amazonで詳細を見る
       </a>
      </div>
    </div>
    
    <div class="amakuti2">
      <h1>屋守　純米</h1>
      <div class="amakutigazou">
       <p>
       <%= image_tag"kami.jpg", :size=>"200x200" %>
       </p>
      </div>

      <div class="amakutiinfo">
       <ul>
        <li>白桃のようにフルーティーでジューシーな香り。</li>
        <li>ほのかな微炭酸、濃厚な味わい。</li>
        <li>価格￥2,700程度(720ml)。</li>
        <a class="amazon"style="margin-top:20px;margin-left:10px;" href="https://www.amazon.co.jp/%E5%B1%8B%E5%AE%88%EF%BC%88%E3%81%8A%E3%81%8F%E3%81%AE%E3%81%8B%E3%81%BF%EF%BC%89-%E7%B4%94%E7%B1%B3-%E7%84%A1%E8%AA%BF%E6%95%B4-%E7%94%9F%E8%A9%B0-720ml/dp/B01M0F3NO1/ref=sr_1_3?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=1R4KA3CVI9WIA&dchild=1&keywords=%E6%97%A5%E6%9C%AC%E9%85%92+%E5%B1%8B%E5%AE%88&qid=1608014899&sprefix=%E6%97%A5%E6%9C%AC%E9%85%92+%E5%B1%8B%2Caps%2C327&sr=8-3">
         amazonで詳細を見る
        </a>
       </ul>
      </div>
    </div>
    
    
  </div>

  <div class="footer">
  </div>

 </body>
</html>
