<body>
  <div class="header">
   
    <div class="header-list">
      <ul>
       <li>日本酒</li>
       <li><a href="/users/amakuti">甘口</a></li>
       <li><a href="/users/karakuti">辛口</a></li>
       <li><a href="/users/otumami">おつまみ</a></li>
      </ul>  
    </div>
  </div>
 
  <div class="main"> 
   
    <div class="contents">
      <div class="titlegazou"
       <p>
        <%= image_tag"sake.jpg", :size=>"900x400" %>
       </p>
      </div> 
    
      <div class="contents-item">

        <div class="amakuti">
          <a href="/users/amakuti" class="menu">
            <p style="padding-left:20px;font-size:40px;font-family:Yu Gothic;">甘口の日本酒</p>
             <p><%= image_tag"kame.jpg",:size=>"150x150" %>
            <p>フルーティーな味わい、お米そのものの甘さを感じる味わい。</p>
          </a>
        </div>

        <div class="karakuti">
          <a href="/users/karakuti" class="menu">
            <p style="padding-left:20px;font-size:40px;font-family:Yu Gothic;">辛口の日本酒</p>
             <p><%= image_tag"simannto.jpg",:size=>"150x150" %>
            <p>すっきりさわやかな味わいで料理との相性抜群な辛口。</p>
          </a>
        </div>

        <div class=otumami >
          <a href="/users/otumami" class="menu">
           <p style="padding-left:20px;font-size:40px;font-family:Yu Gothic;">おすすめのおつまみ</p>
          </a>
        </div>

      </div>
    </div>
  </div>
  
  <div class="footer">
   <div class="footer-logo"></div>
    <div class="footer-list">
     <a></a> 
    </div> 
  </div> 

</body>

