<html>
 <body>
 
  <div class="header-kara">
  </div>

  <div class="main">
  

    <div class="karakuti2">
     <h1>四万十川純米吟醸</h1>
      <div class="karakutigazou">
        <p>
         <%= image_tag"simannto.jpg", :size=>"200x200" %>
        </p>
      </div>

      <div class="karakutiinfo">
        <ul>
         <li>辛口だがまるで清流を飲んだかのように後味すっきりさわやか</li>
         <li>日本酒初心者の方にもおすすめ</li>
         <li>価格￥2,000程度(1.8ℓ)</li>
        </ul>
        <a class="amazon" href="https://www.amazon.co.jp/%E5%9B%9B%E4%B8%87%E5%8D%81%E5%B7%9D-%E3%81%97%E3%81%BE%E3%82%93%E3%81%A8%E3%81%8C%E3%82%8F-%E5%9C%9F%E4%BD%90%E8%8F%8A%E6%B0%B4-%E7%B4%94%E7%B1%B3%E5%90%9F%E9%86%B8%E9%85%92-1-8L/dp/B00R3U0COY/ref=sr_1_3?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&dchild=1&keywords=%E6%97%A5%E6%9C%AC%E9%85%92+%E5%9B%9B%E4%B8%87%E5%8D%81%E5%B7%9D&qid=1608020598&sr=8-3">
         amazonで詳細を見る
        </a>
      </div>
    </div>

    <div class="karakuti2">
     <h1>北鹿　北秋田　大吟醸</h1>
      <div class="karakutigazou">
        <p>
         <%= image_tag"akita.jpg", :size=>"200x200" %>
        </p>
      </div>

      <div class="karakutiinfo">
        <ul>
         <li>大吟醸ならではのフルーティーさの一方、味わい爽やかで後味すっきり。</li>
         <li>一般的に高いとされる大吟醸の中でもリーズナブルな値段</li>
         <li>価格￥1,000程度(720ml)</li>
        </ul>
        <a class="amazon" href="https://www.amazon.co.jp/%E5%8C%97%E7%A7%8B%E7%94%B0-%EF%BC%BB%E6%B8%85%E9%85%92%E3%83%BB%E6%97%A5%E6%9C%AC%E9%85%92%EF%BC%BD-%E5%8C%97%E9%B9%BF-%E5%8C%97%E7%A7%8B%E7%94%B0-%E5%A4%A7%E5%90%9F%E9%86%B8-%EF%BC%97%EF%BC%92%EF%BC%90%EF%BD%8D%EF%BD%8C-%EF%BC%91%E6%9C%AC-%EF%BC%88%E3%81%8D%E3%81%9F%E3%81%82%E3%81%8D%E3%81%9F%EF%BC%89%EF%BC%88%E6%A0%AA%EF%BC%89%E5%8C%97%E9%B9%BF/dp/B07JG15LJ2/ref=sr_1_44?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=246N2AQRWDXHV&dchild=1&keywords=%E6%97%A5%E6%9C%AC%E9%85%92+%E5%8C%97%E7%A7%8B%E7%94%B0&qid=1608015694&sprefix=%E6%97%A5%E6%9C%AC%E9%85%92+kita%2Caps%2C331&sr=8-44">
         amazonで詳細を見る
        </a> 
      </div>
    </div>

    <div class="karakuti2">
     <h1>上善如水 純米吟醸</h1>
      <div class="karakutigazou">
        <p>
         <%= image_tag"zyouzen.jpg", :size=>"200x200" %>
        </p>
      </div>

      <div class="karakutiinfo">
        <ul>
         <li>フレッシュで果実のような香りながらもキレのある軽快な味。</li>
         <li>その名の通り良い意味で水のように飲める辛口の日本酒。</li>
         <li>価格￥2,600程度(1.8ℓ)</li>
        </ul>
        <a class="amazon" href="https://www.amazon.co.jp/%E7%99%BD%E7%80%A7%E9%85%92%E9%80%A0-%E4%B8%8A%E5%96%84%E5%A6%82%E6%B0%B4-%E7%B4%94%E7%B1%B3%E5%90%9F%E9%86%B8-%E7%93%B6-1800ml/dp/B001W43MD0/ref=sr_1_2?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=1EYPEW5DXBH4G&dchild=1&keywords=%E6%97%A5%E6%9C%AC%E9%85%92+%E3%81%98%E3%82%87%E3%81%86%E3%81%9C%E3%82%93%E3%81%BF%E3%81%9A%E3%81%AE%E3%81%94%E3%81%A8%E3%81%97&qid=1608016134&sprefix=%E6%97%A5%E6%9C%AC%E9%85%92+zyo%2Caps%2C329&sr=8-2">
         amazonで詳細を見る
        </a>
      </div>
    </div>

  </div>

  <div class="footer">
  </div>

 </body>
</html>