<html>
 <body>

  <div class="header-otumami">
  </div>

  <div class="main">
   
   <div class="otumami2">
    <h1>たこわさ</h1>
    <div class="otumami-menu">
     <p>
     <%= image_tag"takowasa.jpg",:size=>"200x200" %>
     </p>
    </div>

    <div class="otumamiinfo">
     <ul>
      <li>タコの甘さとワサビのツーンとした辛さが日本酒と絶妙にマッチ。</li>
      <li>ワサビを使ったほかの料理とも相性良し。</li>
     </ul>
    </div>
　 </div>

   <div class="otumami2"> 
    <h1>チーズ</h1>
    <div class="otumami-menu">
     <p>
     <%= image_tag"tizu.jpg",:size=>"200x200" %>
     </p>
    </div>

    <div class="otumamiinfo">
     <ul>
      <li>チーズはワインなど洋酒と相性がいいイメージだが日本酒ともよく合う。</li>
      <li>チーズも日本酒も発酵して作られているので互いにうまく調和して美味しい。</li>
      <li>フルーティーな吟醸味系の日本酒と一緒に食べるのがおすすめ。</li>
     </ul>
    </div>
   </div>

   <div class="otumami2"> 
    <h1>刺身</h1>
    <div class="otumami-menu">
     <p>
     <%= image_tag"sasimi.jpg",:size=>"200x200" %>
     </p>
    </div>

    <div class="otumamiinfo">
     <ul>
      <li>日本酒といえば海鮮系。端麗辛口の日本酒と一緒に食べるのがおすすめ。</li>
      <li>特におすすめはタイやヒラメなど白身魚のお刺身。</li>
     </ul>
    </div>
   </div>

  </div>
 
  </div>

  <div class="footer">
  </div>

 </body>
</html>
